@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');*/
/*COLORS*/
.pri {
  color: #34E890;
}

.sec {
  color: #456551;
}

.bg-pri {
  background-color: #34E890;
}

.bg-sec {
  background-color: #456551 !important;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background: #222629;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

#main {
  /*margin-left: 250px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 800px;
}
@media (max-width: 599px) {
  .content {
    width: auto !important;
  }
}

#upButton {
  cursor: pointer;
  width: 300px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ffffff;
  background-color: #464B51;
  /*    width: 832px;*/
  /* Style the buttons inside the tab */
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.tab button.tablinks {
  margin: -1px;
  line-height: 100%;
}
.tab button.tablinks .notification {
  padding: 0px 6px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 0;
  margin-left: 6px;
}
.tab button.tablinks .notification.bad {
  background: #eb5756;
}
.tab button.tablinks .notification.good {
  background: #2ed26a;
}
.tab button:hover {
  background-color: #31363B;
}
.tab button.active {
  background-color: #31363B;
}

/* Style the tab content */
.tabcontent {
  background: #31363B;
  display: none;
  border: 1px solid #ffffff;
  border-top: none;
  padding: 20px 40px;
  margin-bottom: 80px;
  height: 56vh;
  overflow-y: scroll;
}
.tabcontent.border-top {
  border-top: 1px solid white;
}
.tabcontent p {
  margin-bottom: 48px;
}
.tabcontent a {
  color: #34e890;
  border-bottom: 1px solid #34e890;
}
.tabcontent .action {
  margin-top: 20px;
  border: 1px solid white;
  padding: 10px;
}

.commit-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.commit-container > * {
  margin-left: 10px;
}
.commit-container .commit {
  color: black;
  background-color: white;
  display: inline;
  padding: 12px 16px;
  line-height: 100%;
}

.vl {
  border-left: 1px solid #464B51;
  height: 1500px;
  position: absolute;
  z-index: -10;
  margin-left: 19px;
  margin-top: 36px;
}
.vl.last {
  height: 200px;
}

.sidenav {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin: 0;
}

h5 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 0;
}

p {
  line-height: 2.3rem;
}
p a {
  text-decoration: none !important;
}

b {
  font-weight: 600;
  letter-spacing: 0.2px;
}

sup {
  color: white;
  line-height: 100%;
  font-size: 10px;
  letter-spacing: 1px;
}

.title {
  padding: 2rem 0 3rem;
}

.subtitle {
  background: #ffffff;
  color: black;
  padding: 0 16px;
}

.highlight {
  background: #19ff8f3d;
}

.underline {
  line-height: 0 !important;
  border-bottom: 2px solid #a57bff;
}
.underline.red {
  border-bottom: 2px solid #eb5756 !important;
}

.maths {
  color: #6f818a;
  margin-bottom: 20px !important;
}
.maths sub {
  color: #6f808a;
}

.rainbow-list {
  padding-left: 0;
}
.rainbow-list li {
  padding-left: 5px;
  list-style-type: none;
  margin-bottom: 10px;
}
.rainbow-list li:nth-child(6n+1) {
  background-color: #34e8904f;
}
.rainbow-list li:nth-child(6n+2) {
  background-color: #f2ca4b7a;
}
.rainbow-list li:nth-child(6n+3) {
  background-color: #f2994973;
}
.rainbow-list li:nth-child(6n+4) {
  background-color: #eb575675;
}
.rainbow-list li:nth-child(6n+5) {
  background-color: #fc88ce70;
}
.rainbow-list li:nth-child(6n+6) {
  background-color: #a57bff4a;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.2s;
  background-color: #1d2023;
}
@media (max-width: 599px) {
  .sidenav {
    width: 100vw !important;
  }
}
.sidenav .navItemContainer {
  border-bottom: 0.5px solid #2e3335;
  padding: 16px 0;
}
.sidenav .navItemContainer .nav-label {
  padding: 8px 8px 8px 32px;
  color: #435056;
}
.sidenav .navItemContainer.first {
  border-top: 0.5px solid #2e3335;
}
.sidenav .navItemContainer .navItemsButton {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  color: #435056;
  display: block;
  transition: 0.3s;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidenav .navItemContainer .navItemsButton .chevron {
  transform: rotate(0deg);
}
.sidenav .navItemContainer .navItemsButton.active .chevron {
  transform: rotate(270deg) !important;
}
.sidenav .navItemContainer .navItemsToggle:hover {
  cursor: pointer;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #435056;
  display: block;
  transition: 0.3s;
  min-width: 200px;
}
.sidenav a.subitem {
  margin-left: 20px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
@media (max-width: 599px) {
  .sidenav a {
    padding-left: 0;
    text-align: center;
    font-size: 20px;
  }
}
.sidenav .closebtn {
  padding: 18px 0 0 0;
}
@media (max-width: 599px) {
  .sidenav .closebtn img {
    padding-top: 5px !important;
    width: 2rem !important;
  }
}
.sidenav #main {
  transition: margin-left 0.3s;
  padding: 16px;
}

.logo {
  padding: 16px;
  padding-right: 8px;
}
.logo img {
  width: 195px;
}
@media (max-width: 599px) {
  .logo img {
    width: 80vw;
  }
}

.sidenav-heading {
  display: flex;
  flex-direction: row;
}

.topnav {
  width: 100%;
  padding-top: 10px;
  padding-left: 16px;
}
.topnav #openbtn {
  visibility: hidden;
  position: fixed;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #464B51;
}

.container:hover input ~ .checkmark {
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #eb5756 0%, #eb5756 16%, #f29949 16%, #f29949 32%, #f2ca4b 32%, #f2ca4b 48%, #34e890 48%, #34e890 64%, #a57bff 64%, #a57bff 80%, #fe89d0 80%, #fe89d0 100%);
  border-image-slice: 1;
  width: 22px;
  height: 22px;
}

.container input:checked ~ .checkmark {
  background-color: #31373a;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom right, #eb5756 0%, #eb5756 16%, #f29949 16%, #f29949 32%, #f2ca4b 32%, #f2ca4b 48%, #34e890 48%, #34e890 64%, #a57bff 64%, #a57bff 80%, #fe89d0 80%, #fe89d0 100%);
  border-image-slice: 1;
  width: 22px;
  height: 22px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#mySidenav::-webkit-scrollbar-thumb {
  all: unset;
}

a.footnote {
  color: white;
  text-decoration: none;
  vertical-align: super;
  font-size: 12px;
  background: #a57bff;
  color: #222629 !important;
  padding: 0 3px;
  font-weight: 600;
  margin: 0 2px;
  border-bottom: none;
}

.reference-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  /*position: absolute;
  bottom: 0;
  padding-bottom: 25px;*/
}
.reference-container .reference {
  background-color: transparent;
  color: #a57bff;
  opacity: 0.6;
  width: 265px;
  font-size: 14px;
  display: none;
}
.reference-container .reference .source {
  border-bottom: 1px dashed;
  padding: 10px 20px;
}
.reference-container .reference p {
  padding: 0 20px;
  margin: 0;
}
.reference-container .reference a {
  padding: 0;
  display: inline;
  text-decoration: underline !important;
  overflow-wrap: break-word;
  color: #a57bff;
}

.commitimage {
  background: #222629;
  padding: 20px 0 80px;
  margin-top: -40px;
  margin-left: 50px;
  position: relative;
}

img.full-width-image {
  width: 100%;
}
img.elements {
  width: 498px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bibliography-item {
  padding-bottom: 32px;
}
.bibliography-item a {
  overflow-wrap: break-word;
  color: white;
  transition: 0.3s;
}
.bibliography-item a:hover {
  color: #a57bff;
}
.bibliography-item .bib-footnote {
  font-size: 14px;
  background: #a57bff;
  color: #222629 !important;
  padding: 0 3px;
  font-weight: 600;
}

/*@import "darkmode";
@import "nav";
@import "bookblock";
@import "default";
@import "demo1";
@import "layout";*/

/*# sourceMappingURL=main.css.map */
