.bibliography-item {
    padding-bottom: 32px;
    a {
    overflow-wrap: break-word;
    color: white;
    }

.bib-footnote {
    font-size: 14px;
    background: #a57bff;
    color: #222629 !important;
    padding: 0 3px;
    font-weight: 600;
}
}