/*COLORS*/
$pri: #34E890;
$sec: #456551;
$white: #ffffff;
$lightgrey: #464B51;
$grey: #31363B;
$black: #222629;


$green: #34e890;
$yellow: #F2C94C;
$orange: #F2994A;
$red: #EB5757;
$pink: #FF89D0;
$purple: #a57bff;



.pri {
    color: $pri;
}

.sec {
    color: $sec;
}

.bg-pri {
    background-color: $pri;
}

.bg-sec {
    background-color: $sec !important;
}