a.footnote {
    color: white;
    text-decoration: none;
    vertical-align: super;
    font-size: 12px;
    background: $purple;
    color: $black !important;
    padding: 0 3px;
    font-weight: 600;
    margin: 0 2px;
    border-bottom: none;
}

.reference-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    /*position: absolute;
    bottom: 0;
    padding-bottom: 25px;*/

    .reference {
        background-color: transparent;
        color: $purple;
        opacity: 0.6;
        width: 265px;
        font-size: 14px;
        display: none;


        .source {
            border-bottom: 1px dashed;
            padding: 10px 20px;
        }

        p {
            padding: 0 20px;
            margin: 0;
        }

        a {
            padding: 0;
            display: inline;
            text-decoration: underline !important;
            overflow-wrap: break-word;
            color: $purple;
        }
    }
}