.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: $black;

    @include phone {
        width: 100vw !important;
    }

    a {
        padding: 8px 8px 8px 52px;
        text-decoration: none;
        color: $lightgrey;
        display: block;
        transition: 0.3s;
        min-width: 200px;

        &.subitem {
            margin-left: 20px;
        }

        &:hover {
            color: #f1f1f1;
        }

        @include phone {
            padding-left: 0;
            text-align: center;
            font-size: 20px;
        }
    }

    .closebtn {
        padding: 18px 0 0 0;

        @include phone {
            img {
                padding-top: 5px !important;
                width: 2rem !important;
            }

        }
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
}

.logo {
    padding: 16px;
    padding-right: 8px;

    @include phone {
        img {
            width: 80vw;
        }
    }
}

.sidenav-heading {
    display: flex;
    flex-direction: row;
}

