.tab {
    overflow: hidden;
    border: 1px solid $white;
    background-color: $lightgrey;
    /*    width: 832px;*/

    /* Style the buttons inside the tab */
    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 16px;
        transition: 0.3s;
        color: $white;
        border: 1px solid $white;

        &.tablinks {
            margin: -1px;
            line-height: 100%;
        }

        &:hover {
            background-color: $grey;
        }

        &.active {
            background-color: $grey;
        }
    }
}

/* Style the tab content */
.tabcontent {
    background: $grey;
    display: none;
    border: 1px solid $white;
    border-top: none;
    padding: 8px 16px;
    margin-bottom: 40px;
}


.commit-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    &> * {
    margin-left: 10px;
}

    .commit {
        color: black;
        background-color: white;
        display: inline;
        padding: 12px 16px;
        line-height: 100%;
    }
}

.vl {
    border-left: 1px solid #464B51;
    height: 300px;
    position: absolute;
    z-index: -10;
    margin-left: 19px;
    margin-top: 36px;
}