.sidenav {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: $white;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}


h5 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem 0;
}


p {
    line-height: 2.3rem;

    a {
        text-decoration: none !important;
    }
}

b {
    font-weight: 600;
    letter-spacing: 0.2px;
}

sup {
    color: white;
    line-height: 100%;
    font-size: 10px;
    letter-spacing: 1px;
}

.title {
    padding: 2rem 0 3rem;
}

.subtitle {
    background: #ffffff;
    color: black;
    padding: 0 16px;
}

.highlight {
    background: #19ff8f3d;
}

.underline {
    line-height: 0 !important;
    border-bottom: 2px solid $purple;

    &.red {
        border-bottom: 2px solid #eb5756 !important;
    }
}

.maths {
    color: #6f818a;
    margin-bottom: 20px !important;

    sub {
        color: #6f808a;
    }
}


.rainbow-list {
    padding-left: 0;

    li {
        padding-left: 5px;
        list-style-type: none;
        margin-bottom: 10px;

        &:nth-child(6n+1) {
            background-color: #34e8904f;
        }

        &:nth-child(6n+2) {
            background-color: #f2ca4b7a;
        }

        &:nth-child(6n+3) {
            background-color: #f2994973;
        }

        &:nth-child(6n+4) {
            background-color: #eb575675;
        }

        &:nth-child(6n+5) {
            background-color: #fc88ce70;
        }

        &:nth-child(6n+6) {
            background-color: #a57bff4a;
        }
    }
}