body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: $white;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0;
}


h5 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem 0;
}

.title {
    padding: 2rem 0 3rem;
}

span.highlight {
    background: #19ff8f59;
}

.underline {
    line-height: 0 !important;
    border-bottom: 2px solid $purple;
}

p {
    line-height: 2.3rem;
}

sup {
    color: white;
    line-height: 100%;
    font-size: 10px;
    letter-spacing: 1px;
}

p a {
    text-decoration: none!important;
}


/* styled sup
sup {
    color: black;
    line-height: 100%;
    font-size: 10px;
    background: #fe89d0;
    padding: 0 5px;
    margin-left: 4px;
    display: inline;
    margin-top: 30px;
}*/

