.css-transitions-only-after-page-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');*/
@import "color";
@import "mixins";

@import "buttons";
@import "core";
@import "tabs";
@import "type";
@import "sidenav";
@import "topnav";
@import "checkbox";
@import "scrollbars";
@import "references";
@import "images";
@import "bibliography";


/*@import "darkmode";
@import "nav";
@import "bookblock";
@import "default";
@import "demo1";
@import "layout";*/
